.ip-domain-page {
    width: 100% !important;
    margin: 0 auto;
    text-align: center;
    @include mobile {
        height: 80vh;
        overflow: scroll;
    }
    .body {
        padding: 2rem;
    }
    table {
        border-collapse: collapse;
        width: 100%;
      }
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 16px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
    }
    .title {
        margin-bottom: 2rem;
    }
    .search-area {
        display: flex;
        margin-bottom: 2rem;
        justify-content: space-between;
        .search-bar {
            width: 70%;
        }
    }
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 8px 0;
}

