.ip-domain-table {
    th {
        @include mobile {
            font-size: 12px;
        }
        text-align: center;
    }
    td:nth-child(4) {
        text-align: center;
    }
    td:nth-child(1) {
        text-align: center;
    }
    td {
        .origin-container {
            height: 100% !important;
        }
        font-size: 14px;
        @include mobile {
            font-size: 12px;
        }
        .target {
            white-space: nowrap;
            overflow: hidden;
            @include mobile {
                width: 200px;
                margin: 0px !important;
            }
            text-overflow: ellipsis;
        }
    }

    .btn-general {
        margin-left: 0.6rem;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        &.disabled {
            opacity: 0.8;   
            visibility: hidden;
        }
    }
    
}