//General
@import './variables.scss';
@import './base.scss';
@import './mixin.scss';

//Component
@import './components/ipdomainpage.scss';
@import './components/buttons.scss';
@import './components/modal.scss';
@import './components/ipdomaintable.scss';
@import './components/header.scss';
@import './components/searchbar.scss';

#root {
    width: 100%;
}

.form-label {
    font-size: 1.4rem !important;
}

.form-control {
    font-size: 1.4rem !important;
}

body {
    align-items: flex-start !important;
}

.add-btn {
    .btn-primary {
        padding: 0.8rem 1.2rem !important;
    }
}